[submodule "debian"]
	path = debian
	url = ../mapnik-debian.git
[submodule "test/data"]
	path = test/data
	url = ../test-data.git
[submodule "test/data-visual"]
	path = test/data-visual
	url = ../test-data-visual.git

